<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="title" content="Full-Stack Web-Developer, Liudmyla Chernyk">
        <meta name="description" content="As a passionate full-stack web developer, I specialize in creating portals and modules using PHP, Python and JavaScript frameworks, as well as HTML5 and CSS. My experience includes creating new websites and portals, developing modules for Magento 2 and Dolibarr, parsing HTML pages, creating and improving WordPress themes.">
        <meta name="keywords" content="Web-Developer, Full Stack, Frontend, Backend, PHP, JavaScript, JS, Python, Vue.js, Laravel, Symfony, MAgento 2, Dolibarr, Dresden">
        <title>Liudmyla Chernyk</title>
        <link rel="icon" href="/file-richtext.svg" type="image/svg+xml">
        <script src="https://cdn.tailwindcss.com"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    </head>
    <body class="bg-slate-100 print:bg-white relative print:text-sm">
        <main class="container mx-auto bg-white shadow shadow-indigo-800 my-4 print:shadow-none print:m-0 print:p-0 static ...">
            <!-- {% include header.html %} -->
            {{ content }}                       
        </main>   
    </body>
</html>